APP_ENV=production
DOMAIN=example.com
API_DOMAIN=api.example.com
# your platform services will be under this subdomain i.e. pgadmin.<platform_subdomain>.<domain>
PLATFORM_SUBDOMAIN=darbar
TZ=Asia/Kolkata